{% extends "layout.html" %}

{% block title %}Dashboard{% endblock  %}
{% block content %}

<h1 class="text-center">welcome to Finance dashboard</h1>


<div class="container mt-5">
    <div class="row g-4">

        <!-- Total Income -->
        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 income-card h-100">
                <div class="card-body d-flex align-items-center justify-content-between p-4">
                    <div>
                        <p class="text-light mb-1 small">Total Income</p>
                        <h3 class="fw-bold text-white mb-0">₹ {{ total_income }}</h3>
                        <small class="text-light opacity-75">This Month</small>
                    </div>
                    <div class="icon-circle bg-success">
                        💰
                    </div>
                </div>
            </div>
        </div>

        <!-- Total Expense -->
        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 expense-card h-100">
                <div class="card-body d-flex align-items-center justify-content-between p-4">
                    <div>
                        <p class="text-light mb-1 small">Total Expense</p>
                        <h3 class="fw-bold text-white mb-0">₹ {{ total_expense }}</h3>
                        <small class="text-light opacity-75">This Month</small>
                    </div>
                    <div class="icon-circle bg-danger">
                        💸
                    </div>
                </div>
            </div>
        </div>

        <!-- Net Balance -->
        <div class="col-md-4">
            <div class="card border-0 shadow-lg rounded-4 balance-card h-100">
                <div class="card-body d-flex align-items-center justify-content-between p-4">
                    <div>
                        <p class="text-light mb-1 small">Net Balance</p>
                        <h3 class="fw-bold text-white mb-0">₹ {{ balance }}</h3>
                        <small class="text-light opacity-75">Current</small>
                    </div>
                    <div class="icon-circle bg-primary">
                        🏦
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="">

<button class="btn btn-primary mt-3 mb-3"><a href="{% url 'create_transaction' %}" class="text-white text-decoration-none">Add Transaction</a></button>



<div class="container mt-5">
    <div class="row g-4">

        <!-- Left Side: Chart -->
        <div class="col-lg-5">
            <div class="card shadow-lg rounded-4 p-4 h-100">
                <h5 class="mb-4">Income vs Expense</h5>

                <div style="height:300px;">
                    <canvas id="financeChart"></canvas>
                </div>
            </div>
        </div>

        <!-- Right Side: Table -->


        <div class="col-lg-7">


            <div class="card shadow-lg rounded-4 p-4 h-100">
                <h5 class="mb-4">Recent Transactions</h5>

                <div class="table-responsive" style="max-height:300px; overflow-y:auto;">
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th>Category</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.t_name }}</td>
                                <td>₹ {{ transaction.amount }}</td>
                                <td>
                                    <span class="badge 
                                        {% if transaction.type == 'income' %}
                                            bg-success
                                        {% else %}
                                            bg-danger
                                        {% endif %}
                                    ">
                                        {{ transaction.type }}
                                    </span>
                                </td>
                                 <td> {{ transaction.category }}</td>
                                <td>{{ transaction.date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>
</div>

{% endblock  %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        
        const ctx = document.getElementById('financeChart');
        console.log("Chart.js loaded successfully!",ctx);

    new Chart(ctx, {
        type: "doughnut",
        data: {
            labels: ["Income", "Expense"],
            datasets: [{
                data: [
                    {{ total_income|default:0 }},
                    {{ total_expense|default:0 }}
                ],
                backgroundColor: [
                    "#198754",
                    "#dc3545"
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
                maintainAspectRatio: false,

            plugins: {
                legend: {
                    position: 'bottom'
                }
            }
        }
    });

});
</script>
{% endblock %}

   